.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.card img {
  width: 44px;
  height: 64px;
}
.board {
  margin: 16px auto;
}

.boardBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 856px;
  height: 393px;
}

.dealer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:16px
}

.rowCards {
  display: flex;
  justify-content: center;
  gap: 5px;
}