.App {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.card img {
  width: 44px;
  height: 64px;
}

.board {
  margin: 16px auto;
}

.boardBackground {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 856px;
  height: 393px;
}

.dealer,
.playerHands,
.computerHands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:16px;
  margin:17px; 
}

.rowCards {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.Score {
  display: grid; 
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 10px 3px; 
  grid-template-areas: 
    "Player Player . Computer Computer"
    "WinRateP WinRateP Win WinRateC WinRateC"
    "TieRateP TieRateP Tie TieRateC TieRateC";
  background-color: rgb(57,140,236);
  color: #fff;
  margin: 1rem;
  padding: 10px;
}

.player { grid-area: Player; }
.computer { grid-area: Computer; }
.winRateC { grid-area: WinRateC; }
.winRateP { grid-area: WinRateP; }
.win { grid-area: Win; }
.tie { grid-area: Tie; }
.tieRateP { grid-area: TieRateP; }
.tieRateC { grid-area: TieRateC; }